nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* Navigation styles */

  .nav-list a,
  .nav-list a:visited {
    text-decoration: none;

    color: inherit;
  }

  .nav-list a:hover {
    text-decoration: underline;
  }

  .news-article-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }